@model IEnumerable<Tp_Pweb_22_23.Models.ViewModels.UserRolesViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Utilizadores</h1>

@if (User.IsInRole("Gestor"))
{

    <form method="get" asp-action="Create" asp-controller="UserRolesManager">
        <button class="btn btn-dark" >Adicionar Funcionario</button>
    </form>

@*    <p>
        <a asp-action="Create">Adicionar novo utilizador</a>
    </p>*@
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
              
            </th>
            <th>
              
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img id="Foto" class="img-thumbnail" style="height:40px;width:auto" src="~/img/user.png" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimeiroNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UltimoNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.UserId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>





@*@{
    ViewData["Title"] = "User Roles";
}
<h1>User Roles</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimeiroNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Avatar == null)
                    {
                        <img id="MyAvatar" class="img-thumbnail" style="height:40px;width:auto" src="~/img/user.png" />
                    }
                    else
                    {
                        <img id="MyAvatar" class="img-thumbnail" style="height:40px;width:auto"
                     src="data:image/*;base64,@(Convert.ToBase64String(item.Avatar))" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimeiroNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UltimoNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @String.Join(',',  item.Roles)
                </td>
                <td>
                    @using (Html.BeginForm("Talepler", "UserRolesManager", FormMethod.Post))
                    {
                    <input id="chk" name="chkeco" asp-for="@item.Activo" asp-route-id="@item.UserId" class="form-check-input" />
                    <label class="form-check-label" asp-for="@item.Activo">@item.Activo</label>
                    <input type="submit" value="Submit" />
                    } 
               </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
*@