@model IEnumerable<Tp_Pweb_22_23.Models.ViewModels.UserRolesViewModel>
<link href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@{
    ViewData["Title"] = "Index";
}

<h1>Utilizadores</h1>


@if (User.IsInRole("Gestor"))
{
    <form method="get" asp-action="Create" asp-controller="UserRolesManager">
        <button class="btn btn-dark">Adicionar Funcionario</button>
    </form>
}
<a class="btn btn-secondary mt-3 mb-0 role="button" asp-action="Index" asp-route-activo="true">Activos</a>
<a class="btn btn-secondary mt-3 mb-0 role="button" asp-action="Index" asp-route-activo="false">Inativos</a>
<a class="btn btn-secondary mt-3 mb-0 role="button" asp-action="Index">Todos</a>

<table data-toggle="table" data-search="true" data-search-accent-neutralise="true" data-search-highlight="true">
    <thead>
        <tr>
            <th></th>
            <th data-sortable="true" data-searchable="true">
                @Html.DisplayNameFor(model => model.PrimeiroNome)
            </th>
            <th data-sortable="true" data-searchable="true">
                @Html.DisplayNameFor(model => model.UltimoNome)
            </th>
            <th data-sortable="true" data-searchable="true">
                @Html.DisplayNameFor(model => model.EmpresaNome)
            </th>
            <th data-sortable="true" data-searchable="true">
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img id="Foto" class="img-thumbnail" style="height:40px;width:auto" src="~/img/user.png" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimeiroNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UltimoNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpresaNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>
                <td>
                    <a class="btn btn-secondary" role="button" asp-action="Edit" asp-route-id="@item.UserId">Editar</a>
                    <a class="btn btn-secondary" role="button" asp-action="Details" asp-route-id="@item.UserId">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>