@model IEnumerable<Tp_Pweb_22_23.Models.EstadoVeiculo>
<link href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@{
    ViewData["Title"] = "Index";
}
<h1>Estados de Reservas</h1>

@*<p>
    <a asp-action="Create">Adicionar novo estado de veiculo</a>
</p>*@
<table class="table" data-toggle="table" data-search="true" data-search-accent-neutralise="true" data-search-highlight="true">
    <thead>
        <tr>
            <th data-sortable="true" data-searchable="true">
                @Html.DisplayNameFor(model => model.Reserva.Veiculo.Marca)
            </th>
            <th data-sortable="true" data-searchable="false">
                @Html.DisplayNameFor(model => model.NumeroKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Danos)
            </th>
            <th data-searchable="false">
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th data-sortable="true" data-searchable="true">
                Funcionário responsável 
            </th>
            <th data-sortable="true" data-searchable="false">
                @Html.DisplayNameFor(model => model.ESTADO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reserva.Veiculo.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroKm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Danos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacoes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionario.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ESTADO)
                </td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |*@
                    <a class="btn btn-sm btn-sm mt-1 btn-secondary" role="button" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
