@model IEnumerable<Tp_Pweb_22_23.Models.Empresa>



<link href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
@{
    ViewData["Title"] = "Index";
}
<h1>Empresas</h1>

@*<p>
    <a asp-action="Create">Criar nova empresa</a>
</p>*@

<form method="get" asp-action="Create" asp-controller="Empresas">
    <button class="btn btn-dark">Adicionar Empresa</button>
</form>

<table id="tabelaEmpresas" data-toggle="table" data-search="true" data-search-accent-neutralise="true" data-search-highlight="true">
    <thead>
        <tr>
            <th data-sortable="true" data-searchable="true">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th data-sortable="true" data-searchable="false">
                @Html.DisplayNameFor(model => model.Classificacao)
            </th>
            <th data-searchable="false">
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Classificacao) (@item.NrClassificacoes.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@*<script>
    $(function () {
        $('#tabelaEmpresas').change(function () {
            $('#table').bootstrapTable('refreshOptions', {
                sortable: $('#sortable').prop('checked')
            })
        })
    })
</script>*@
