@model Tp_Pweb_22_23.Models.ViewModels.ClassificaEmpresaViewModel


@{
    ViewData["Title"] = "Classifica Empresa";
}

<div class="text-center">
    <h1>Classificar</h1>

    <div>
        <div class="col">
            <div class="card" style="max-width:300px; margin:auto;">
                <div class="card-body">
                    <h5 class="card-title">Marca: @Model.veiculo.Marca</h5>
                    <h5 class="card-title">Modelo: @Model.veiculo.Modelo</h5>
                    <h6 class="card-title">Empresa: @Model.empresa.Nome</h6>
                    <h7 class="card-text">
                        Total pago: @Model.reserva.Total€<br />
                    </h7>
                    <h7>@Model.empresa.Classificacao (@Model.empresa.NrClassificacoes)</h7>

                </div>
                <div class="card-footer w-100">
                    <small class="text-muted">Cliente: @Model.cliente.Email</small>
                </div>
            </div>
        </div>
    </div>
    <form style="max-width:300px; margin:auto;" method="get" asp-action="Classificar" asp-controller="Reservas">
        <div class="form-group">
            <label class="control-label"></label>
            <input type="hidden" name="idEmpresa" class="form-control" value="@Model.empresa.Id" />
        </div>
        <div class="form-group">
            <label class="control-label"></label>
            <input type="hidden" name="idReserva" class="form-control" value="@Model.reserva.Id" />
        </div>
        <div class="form-group">
            <label class="control-label"></label>
            <input name="avaliacao" type="number" class="form-control" placeholder="Classificao" min="1" max="5" />
        </div>
        <div class="form-group">
            <input type="submit" value="Classificar" class="btn btn-primary" />
        </div>
    </form>
</div>
