@model IEnumerable<Tp_Pweb_22_23.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservas</h1>

@*<p>
    <a asp-action="Create">Adicionar nova reserva</a>
</p>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRecolha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Veiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DataRecolha, "{0:dd MMMM yyyy}")
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DataEntrega, "{0:dd MMMM yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total) Euros
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Veiculo.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
