@model IEnumerable<Tp_Pweb_22_23.Models.Reserva>
<link href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservas</h1>

<table id="tabelaReservas" data-toggle="table" data-search="true" data-search-accent-neutralise="true" data-search-highlight="true">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th data-sortable="true" data-searchable="true">
                @Html.DisplayNameFor(model => model.DataRecolha)
                </thd>
            <th data-sortable="true" data-searchable="true">
                    @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th data-sortable="true" data-searchable="true">
                    @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Veiculo.Empresa.Nome)
            </th>
            <th data-sortable="true" data-searchable="true">
                    @Html.DisplayNameFor(model => model.Veiculo.Marca)
            </th>
            <th data-sortable="true" data-searchable="true">
                    @Html.DisplayNameFor(model => model.Veiculo.Modelo)
            </th>
            <th data-sortable="true" data-searchable="true">
               Cliente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataRecolha, "{0:dd MMMM yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEntrega, "{0:dd MMMM yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Veiculo.Empresa.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Veiculo.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Veiculo.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Email)
                </td>
                <td>
                    @if (item.Estado == ESTADO.Pendente && (User.IsInRole("Funcionario") || User.IsInRole("Gestor")))
                    {
                        <a class="btn btn-outline-success btn-sm mt-1" role="button" asp-action="ConfirmReserva" asp-route-id="@item.Id">Confirmar</a>
                        <a class="btn btn-outline-danger btn-sm mt-1" role="button" asp-action="RecusarReserva" asp-route-id="@item.Id">Recusar</a>
                    }
                    else if ((item.Estado == ESTADO.Recolher || item.Estado == ESTADO.Entregar) && (User.IsInRole("Funcionario") || User.IsInRole("Gestor")))
                    {
                        <a class="btn btn-outline-info btn-sm mt-1" role="button" asp-action="TratarVeiculoReserva" asp-route-id="@item.Id">
                            @if (item.Estado == ESTADO.Recolher)
                            {
                                <text>Entregar a Cliente</text>
                            }
                            else
                            {
                                <text>Recolher de Cliente</text>
                            }
                        </a>
                    }
                    else if (item.Estado == ESTADO.Pendente && (User.IsInRole("Funcionario") || User.IsInRole("Gestor") || User.IsInRole("Cliente")))
                    {
                        <a class="btn btn-outline-danger btn-sm mt-1" role="button" asp-action="Delete" asp-route-id="@item.Id">Cancelar Reserva</a>
                    }
                    else if (item.Estado == ESTADO.Classificar && (User.IsInRole("Cliente")))
                    {
                        <a class="btn btn-secondary btn-sm mt-1" role="button" asp-action="ClassificarEmpresa" asp-route-id="@item.Id">Classificar Empresa</a>
                    }
                    <a class="btn btn-secondary btn-sm mt-1" role="button" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*
nao esta funcionar
<script>
    function footerFormatter(data) {
        let total = 0;
        $.each(data, function (i, row) {
            total += +(row.price.substring(1));
        });
        return 'Total: $' + total;
    }
</script>
*@