@model Tp_Pweb_22_23.Models.ViewModels.SearchResultadosViewModel

@{
    ViewData["Title"] = "Index";
}

<style>
    .card-img-top {
        max-height: 200px;
        max-width: 200px;
    }

</style>


@if (Model.VeiculosDisponiveis.Count != 0)
{
    <h1>Os nossos Automóveis</h1>
    <br />
    <h6 class="text-center"> A apresentar resultados para o período: </h6>
    <h5 class ="text-center"> @Model.DataRecolha?.ToString("dd MMMM yyyy") - @Model.DataEntrega?.ToString("dd MMMM yyyy") </h5>
    <br></br>

    <a

    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var veiculo in Model.VeiculosDisponiveis)
        {
            @foreach (var empresa in Model.EmpresasVeiculos)
            {
                @if (empresa.Id == veiculo.idEmpresa)
                {
                    <div class="col">
                        <div class="card h-100 align-items-center">
                            @if (veiculo.Foto == null)
                            {
                                <img id="foto" src="/img/carIcon.png" class="card-img-top" alt="...">
                            }
                            else
                            {
                                <img id="foto" src="data:image/*;base64,@(Convert.ToBase64String(veiculo.Foto))" class="card-img-top" alt="...">
                            }
                            <div class="card-body text-center" >
                                <h5 class="card-title"> @veiculo.Marca @veiculo.Modelo</h5>
                                <h6 class="card-text">@empresa.Nome</h6>
                                <h6 class="card-text">
                                    @empresa.Classificacao  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                    </svg> (@empresa.NrClassificacoes)
                                </h6>
                                @*                                @using (Html.BeginForm("FazReserva", "Home", FormMethod.Post)){
                *@
                                <form method="post" asp-action="FazReserva">
                                    <input type="hidden" asp-for="DataRecolha" name="DataRecolha" value="@Model.DataRecolha" />
                                    <input type="hidden" asp-for="DataEntrega" name="DataEntrega" value="@Model.DataEntrega" />
                                    <input type="hidden" name="IdVeiculo" value="@veiculo.Id">
                                    <button class="w-75 btn btn-sm btn-outline-secondary" style="text-align: center;" type="submit">Reservar</button>
                                </form>
                                @*    }*@

                            </div>
                            <div class="card-footer w-100" style="display: flex; align-content:center; justify-content: center;">
                                <small class="text-muted" style="text-align: center; font-size: 20px">Total: <b>@Model.Total€</b></small>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>

}
else
{
    <h3>Sem veiculos disponíveis.</h3>
    <br />
    <h6 class="text-center"> A apresentar resultados para o período: </h6>
    <h5 class="text-center"> @Model.DataRecolha?.ToString("dd MMMM yyyy") - @Model.DataEntrega?.ToString("dd MMMM yyyy") </h5>
    <br></br>
    <h1 class ="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
        </svg>
    </h1>
}