@model Tp_Pweb_22_23.Models.ViewModels.AllVeiculosViewModel

@{
    ViewData["Title"] = "Index";
}

<style>
    .img {
        max-height: 565px;
        max-width: 1000px;
    }

</style>

<h1>Os nossos Automóveis</h1>
<br>
<br />

<div class="container text-center mb-1">
    <div class="row row-cols-auto">
        <h7>Ordenar por preço</h7>

        <form method="post" asp-action="AllVeiculos" asp-controller="Veiculos" class="col">
            <div>
                <input type="hidden" name="ordem" class="form-control" value="asc">
                <button type="submit" class="btn btn-outline-dark btn-sm">Ascendente</button>
            </div>
        </form>

        <form method="post" asp-action="AllVeiculos" asp-controller="Veiculos" class="col">
            <div>
                <input type="hidden" name="ordem" class="form-control" value="desc">
                <button type="submit" class="btn btn-outline-dark btn-sm">Descendente</button>
            </div>
        </form>
    </div>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model.ListaDeVeiculos)
    {
        <div class="col">
            <div class="card h-65 align-items-center">
                @if (item.Foto == null)
                {
                    <img id="foto" src="/img/carIcon.png" class="card-img-top" alt="...">
                }
                else
                {
                    <img id="foto" src="data:image/*;base64,@(Convert.ToBase64String(item.Foto))" class="card-img-top" alt="...">
                }
                <div class="card-body text-center">
                    <h5 class="card-title ">@item.Marca @item.Modelo</h5>
                    <h5 class="card-title ">@item.Categoria.Nome</h5>
                    <h7 class="card-text ">
                        @item.Preco €/dia.<br />
                    </h7>
                    <h7>@item.Empresa.Nome</h7>
                    <br><br />
                    <a class="btn btn-dark" role="button" asp-action="Details" asp-route-id="@item.Id"> Saber mais</a>
                </div>
                <div class="card-footer w-100">
                    <small class="text-muted">Localização: @item.Localizacao</small>
                </div>
            </div>
        </div>
    }
</div>