@model IEnumerable<Tp_Pweb_22_23.Models.Veiculo>
@using System.Linq

<link href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>

@{
    ViewData["Title"] = "Index";
}
<h1>Veiculos</h1>
@*<p>
    <a asp-action="Create">Adicionar novo veiculo</a>
</p>
*@
<form method="get" asp-action="Create" asp-controller="Veiculos">
    <button class="btn btn-dark">Adicionar Veiculo</button>
</form>

<table id="tabelaVeiculo" data-toggle="table" data-search="true" data-search-accent-neutralise="true" data-search-highlight="true">
    <thead>
        <tr>
            <th></th>
            <th data-sortable="true" data-searchable="true">
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th data-sortable="false" data-searchable="false">
                @Html.DisplayNameFor(model => model.Disponivel)
            </th>
            <th data-sortable="true" data-searchable="true">
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th data-sortable="true" data-searchable="false">
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th data-sortable="true" data-searchable="false">
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th data-sortable="true" data-searchable="false">
                @Html.DisplayNameFor(model => model.Empresa.Nome)
            </th>
            <th data-sortable="true" data-searchable="false">
                @Html.DisplayNameFor(model => model.Categoria.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@*        @if (Model.Count() == 0)
        {
            <p>Nao tem veiculos</p>

        }
        else*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.Foto == null)
                        {
                            <img id="Foto" class="img-thumbnail" style="height:40px;width:auto" src="~/img/carIcon.png" />
                        }
                        else
                        {
                            <img id="MyAvatar" class="img-thumbnail" style="height:40px;width:auto" src="data:image/*;base64,@(Convert.ToBase64String(item.Foto))" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Disponivel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Localizacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
    </tbody>
</table>